
# dependencies
node_modules

# production
/dist
/.vscode
/build
# misc
.DS_Store
npm-debug.log*
yarn-error.log
build
/coverage
.idea
package-lock.json
*bak
.vscode
.temp/**
.eslintcache
.CodeCounter
.eslintcache
